<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    {% block title %}
    <title>Document</title>
    {% endblock title %}
</head>

<body>

    {% block body %}

    <div class="header">
        <div class="header__inner">
            <div class="header__logo">
                <a href="{{url_for('index')}}">
                    <picture>
                        <source srcset="{{url_for('static', filename='img/logo-mobile.svg')}}"
                            media="(max-width: 480px)">
                        <img src="{{url_for('static', filename='img/logo.svg')}}" alt="MDN">
                    </picture>
                </a>
            </div>
            <div class="header__auth">
                <div class="header__auth-name">
                    <img src="{{url_for('static', filename='img/auth.png')}}" alt="">
                    <p>Фамилия Имя</p>
                </div>
                <div class="header__auth-exit">
                    <a href="#">
                        <img src="{{url_for('static', filename='img/exit.svg')}}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% block side %}

    <div class="side" id="side">
        <div class="side__bg"></div>
        <div class="side__block">

        </div>
    </div>

    {% endblock %}


    <div class="container">


        <div class="menu">
            <div class="menu__inner">
                <div class="menu__block">
                    <div class="menu__title">
                        <p>Навигация</p>
                    </div>
                    <div class="menu__links">
                        {% block links %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% block content %}


        {% endblock %}


    </div>


    {% block footer %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/tabs.js')}}"></script>
    <script src="{{url_for('static', filename='js/side.js')}}"></script>
    <script src="{{url_for('static', filename='js/sert.js')}}"></script>
    {% endblock %}

    {% endblock %}

</body>

</html>